[package]
name = "pldm"
description = "Platform Level Data Model (PLDM) base types and functions"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/CodeConstruct/mctp-rs"
categories = ["network-programming", "embedded", "hardware-support"]

[dependencies]
mctp = { workspace = true }
mctp-linux = { workspace = true }
thiserror = "1.0"
