[package]
name = "pldm-fw"
description = "Platform Level Data Model (PLDM) for Firmware Update library and utilities"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/CodeConstruct/mctp-rs"
categories = ["network-programming", "embedded", "hardware-support", "command-line-utilities"]

[dependencies]
pldm = { workspace = true }
mctp = { workspace = true }
mctp-linux = { workspace = true }
nom = "7.1"
itertools = "0.10"
chrono = "0.4"
enumset = "1.1"
uuid = { version = "1.3", features = ["v1"] }
thiserror = "1.0"
argh = "0.1.12"
anyhow = "1.0.80"
log = "0.4"
env_logger = "0.11.3"
crc = "3.0"
